<%- include("partials/header_admin"); -%>
    <div class="section1">

        <div class="container">

            <h2 style="text-align: center; color:#EA5455;">PETS</h2>

            <table id="table-controller" style="text-align:center; margin-top: 30px" class="table table-hover">
                <thead class="table-layout">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PET NAME</th>
                        <th scope="col">PROFILE</th>
                        <th scope="col">DELETE</th>
                    </tr>
                </thead>
                <tbody id="table-parent" style="text-align:center">
                    <% for(var i=0; i<pets.length; i++){ %>
                        <tr class="row-style">
                            <th scope="row">
                                <%=i+1%>
                            </th>
                            <td>
                                <%=pets[i].petName%>
                            </td>
                            <td> <a style="cursor: pointer; " href="/admin/pets/<%=pets[i].petKey%>"> <i id="pet-icon<%=i%>"
                                        data-petkey="<%=pets[i].petKey%>"
                                        class="fa fa-user-circle-o table-row-icon"></i> </a></td>
                            <td><i style="cursor: pointer; " id="trash-icon<%=i%>" data-owneruid="<%=pets[i].ownerUid%>"
                                    class="fa fa-trash table-row-icon" ></i></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include("partials/footer_admin"); -%>